.myCol {
    background: linear-gradient(135deg, #9C19E0, #14031e) !important;
}

.blinkAnim {
    border-radius: 20px !important;
    background: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px !important;

}